.group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  max-width: 20rem;
}

.actionAndData {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
